body {
    margin: 0;
    background-image: url('img/vegetable-field.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


/* Title */
.title {
display: flex;
text-align: center;
align-items: center;
justify-content: center;
}

h1 {
    font-size: 60px;
    padding: 0;
    margin: 0;
    color: #222;
}


/* Gameplay */
.gameplay-container {
    background-color: rgba(2, 2, 2, .7);
    height: 80vh;
    color: #fff;
    text-align: center;
    margin: 0 20px;
}
.gameplay-top {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
/* .location {} */
.gameplay-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.main-left {
    width: 50%;
}
.main-right {
    text-align: center;
    width: 50%;
}
.mainText {
    padding: 10px;
    font-size: 19px;
}
.prompt {
    font-size: 21px;
    padding: 5px;
}
.choice1, .choice2 {
    color: #eee;
    background-color: #e00;
    border: none;
    padding: 10px;
    margin: 20px;
}
.choice2 {
    display: none;
}


.illustration {
    height: 50vh;
}
.description {
    
}


.gameplay-bottom {
    display: flex;
    justify-content: space-between;
    background-color: rgba(1, 1, 1, .9);
    padding: 15px;
    display: none;
    width: 100vw;
}
.actions-container {

}
.actions-list {
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 500px;
    align-items: center;
}
.game-menu {
    
}
.inventoy {
    width: 35vw;
    flex-direction: column;
}
.stats {
    display: flex;
    justify-content: space-between;
    width: 500px;
    align-items: center;
}
.avatar {
    height: 55px;
    width: 40px;
}



/* Responsive */
@media (max-width: 1050px) {
    .gameplay-container {
        width: 100vw;
    }
}
@media (max-width: 800px) {
    h1 {
        font-size: 40px;
    }
}
@media (max-width: 500px) {
    h1 {
        font-size: 25px;
    }
}
@media (max-width: 630px) {
    h1 {
        font-size: 28px;
    }
    .gameplay-main {
        flex-direction: column;
    }
    .gameplay-container {
        height: 120vh;
    }
}